.root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  width: 100%;
  padding: 10px 0;
}

.form {
  max-width: 400px;
  width: 100%;
  padding: 0 20px;
}

.formIcon {
  color: rgba(0, 0, 0, 0.25) !important;
  margin-right: 5px;
}

.alert {
  margin-bottom: 24px;
}

.button {
  width: 100%;
}

.signin {
  width: 100%;
  text-align: center;

  & > span {
    display: block;
    padding: 10px 0;
  }
}
